@font-face {
	font-family: 'iconfont';
	font-display: auto;
	src: url('//at.alicdn.com/t/font_1056856_p9cyrhslv5j.eot?t=1551327438450');
	src: url('//at.alicdn.com/t/font_1056856_p9cyrhslv5j.eot?t=1551327438450#iefix') format('embedded-opentype'),
		url('//at.alicdn.com/t/font_1056856_p9cyrhslv5j.woff?t=1551327438450') format('woff'),
		url('//at.alicdn.com/t/font_1056856_p9cyrhslv5j.ttf?t=1551327438450') format('truetype'),
		url('//at.alicdn.com/t/font_1056856_p9cyrhslv5j.svg?t=1551327438450#iconfont') format('svg');
}

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
	font-family: 'iconfont' !important;
	font-size: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: '\e7ab';
}

.icon-bokeyuan:before {
	content: '\e603';
}